<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ba.sum.fpmoz.mim">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ednevnik">
        <activity android:name=".TabbedProfesorClassesActivity" />
        <activity android:name=".TabbedSubjectsActivity" />
        <activity android:name=".SubjectAdminEditActivity" />
        <activity android:name=".TabbedProfesorUsersActivity" />
        <activity android:name=".TeacherAdminEditActivity" />
        <activity android:name=".HomeNavigationActivity" />
        <activity android:name=".UserAdminEditActivity" />
        <activity android:name=".UserMainActivity" />
        <activity android:name=".TabbedUserAdminActivity" />
        <activity android:name=".TabbedClassesActivity" />
        <activity android:name=".ClassAdminActivity" />
        <activity android:name=".ClassAdminEditActivity" />
        <activity android:name=".HomeNavigationProfesorActivity" />
        <activity android:name=".HomeNavigationStudentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>